<div class="flex justify-center items-center min-h-screen bg-gradient-to-br from-red-500 via-pink-500 to-purple-500">
  <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-md">
      <h2 class="text-3xl font-bold mb-6 text-center text-orange-800">Reset Password</h2>
      <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
          <div class="mb-6">
              <label for="emailOrPhone" class="block text-orange-800 mb-2">Enter Email or Phone</label>
              <input id="emailOrPhone" type="text" formControlName="emailOrPhone" class="w-full p-2 border border-orange-300 rounded bg-white text-orange-800" placeholder="Enter email or phone number">
              <div *ngIf="resetForm.get('emailOrPhone')?.invalid && (resetForm.get('emailOrPhone')?.touched || resetForm.get('emailOrPhone')?.dirty)" class="text-red-500 text-sm mt-1">
                  <div *ngIf="resetForm.get('emailOrPhone')?.errors?.['required']">Email or phone number is required.</div>
                  <div *ngIf="resetForm.get('emailOrPhone')?.errors?.['pattern']">Invalid email or phone number format.</div>
              </div>
          </div>
          <button type="submit" class="w-full bg-gradient-to-r from-orange-500 to-pink-500 text-white p-2 rounded hover:from-orange-600 hover:to-pink-600 transition duration-300 ease-in-out" [disabled]="resetForm.invalid">Submit</button>
      </form>
      <div *ngIf="showError" class="mt-4 p-2 bg-red-500 text-white rounded">
          {{ errorMessage }}
      </div>
  </div>
</div>
